.container-fluid{
    display: flex;
    flex-direction:column ; 
    /* background-color: rgb(87, 87, 215); */
    /* size: 2vw; */
}
.text .row{
    background-color: rgb(220, 238, 15);

}
a{
    color: white;
    cursor: pointer;
}
