<div class="container-fluid" id="outter">
    <div class="row">
        <div class="col-xs-10" id="links" >
            <a><h6 >Master Data Reports</h6></a><h6>|</h6>
            <a><h6>Supplier Master</h6></a>
        </div>
        <div class="col-xs-2">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-success" ><i class='glyphicon glyphicon-arrow-left' ></i></button>
                <button type="button" class="btn btn-success">Back</button>

              </div>
             

        </div>
       

    </div>
    <br>
    <div class="row">
       <div class="container-fluid" id="inner">
        <div class="row">
            <div class="col-xs-10">
                <h3 style="font-style:bold ;">Add New Supplier </h3>
            </div>
            
            <div class="col-xs-1"><br>
                <button class="btn btn-primary "><i class="glyphicon glyphicon-plus" id="add_button"></i> Submit</button>
            </div>
        </div>
            
        <br>
        <form class="row">
            <form class="col-xs-6">
                <div class="form-group">
                    <div class="row" id="topics">
                        <label >Supplier Details</label>
                    </div>
                    <div class="row">
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Supplier Key *"> 

                    </div>
                    <div class="row">
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Supplier Name *"> 

                    </div>
                    <div class="row">
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Supplier Email *"> 

                    </div>
                    <div class="row">
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Supplier Contact Details *"> 

                    </div>
                </div>
            </form>
            <form class="col-xs-6">
                <div class="form-group">
                    <div class="row"id="topics">
                        <label >Supplier Address</label>
                    </div>
                   
                    <div class="row">
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="State_Name *"> 

                    </div>
                    <div class="row">
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Country_Name *"> 

                    </div>
                    <div class="row"id='row2'>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="City_Name *"> 

                    </div>
                </div>
            </form>
        
        </form>
        
    

</div>
    
    
    
</div>
</div>