
.container{
    background-color: rgba(255, 255, 255, 0.926);
    
}
#outter{
    background-color: rgba(255, 255, 255, 0.919);
    border-style: inset;
    padding: 2vw;
    padding-bottom: 10vw;
}
#links{
display: flex;


}
h6{
    margin-left: .5vw;
    /* background-color: rgba(255, 255, 255, 0.866); */

}
#inner{
    background-color: white;
   
    border-style: inset;
    padding: 2vw;
    box-shadow:  5px 10px #888888;

   
   
}
#add_button{
   background-color:white ;
   color:rgb(55, 55, 176);
   border-style: groove;
   border-radius: 5vw;
}
#inner2{
    background-color: rgba(255, 255, 255, 0.897);
   
    border-style: inset;
    box-shadow:  5px 10px #888888;


}
form{
    background-color: rgba(255, 255, 255, 0.897);
   
    border-style:ridge;
    box-shadow:  5px 10px #888888;
    
}
.form-group{
    margin-top: 2vw;
    margin-bottom: 2vw;
}
.col-xs-6{
    padding-left: 3vw;
    padding-right: 3vw;
}
.form-group .row{
padding-top: 2vw;
}
/* #row2{
    padding-top: 2vw;
    padding-bottom: 4vw;
    } */
    #topics{
        background-color: rgb(194, 187, 187);
        text-align: center;
        font-size: 1.5vw;
    }
    /* .col-xs-6{
        margin-left: .2vw;
    } */
button{
        cursor: pointer;
    }