<div class="container-fluid" id="outter">
    <div class="row">
        <div class="col-xs-8" id="links" >
            <a><h6 >Master Data Reports</h6></a><h6>|</h6>
            <a><h6>Add New Supplier</h6></a>
            </div>
    </div>
    <div class="row">
       <div class="container-fluid" id="inner">
        <div class="row">
            <div class="col-xs-10">
                <h3 style="font-style:bold ;">Supplier Master </h3>
            </div>
            
            <div class="col-xs-1"><br>
                <button class="btn btn-primary " (click)="onclickAddMasterbutton()"><i class="glyphicon glyphicon-plus" ></i> Add New Supplier</button>
            </div>
        </div>
            
        <br>
        <form class="row">
           <div class="col-xs-3">
            <div class="form-group">
               
                <label class="labels">Country</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Country"> 
            </div>
           </div>
           <div class="col-xs-3">
            <div class="form-group">
                <label class="labels">State</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="State"> 
            </div>
           </div>
           <div class="col-xs-3">
            <div class="form-group">
                <label class="labels">City</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Store Name"> 
            </div>
           </div>
           <div class="col-xs-3">
            <div class="form-group">
                <label class="labels">Store Name</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Store Name"> 
            </div>
           </div>
           <div class="col-xs-3">
            <div class="form-group">
                <label class="labels">Supplier ID</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Supplier ID"> 
            </div>
           </div>
           <div class="col-xs-3">
            <div class="form-group">
                <label class="labels">Supplier Name</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Supplier Name"> 
            </div>
           </div>
           <div class="col-xs-3">
            <div class="form-group">
                <br>
                <button class="btn btn-success">Filter</button>
            </div>
           </div>
        </form>
        
    

</div>
    
    
    
</div>
</div>