<div class="container-fluid">
<div class="col-xs-11" >
    <br>
    <i class="glyphicon glyphicon-chevron-left" id="menuoption"></i>

</div>
<div class="col-xs-2">
    <br>
    <div class="dropdown">
        <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown">
            Shekar(admin)
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">HTML</a></li>
          <li><a href="#">CSS</a></li>
          <li><a href="#">JavaScript</a></li>
        </ul>
      </div>
</div>

    
</div>