<div class="container-fluid">
<div class="col-xs-11" >
    <br>
    <!-- <i class="glyphicon glyphicon-chevron-left" id="menuoption"></i> -->

</div>
<div class="col-xs-2">
    <br>
    <div class="dropdown">
        <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown">
            Shekar(admin)
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#" ><i class="glyphicon glyphicon-user" id="profileicon"><b> Profile</b> </i></a></li>
          <br>
          <li><a href="#"><i class='glyphicon glyphicon-off' id="logouticon"><b> LogOut</b> </i></a></li>
        </ul>
      </div>
     
</div>

    
</div>